body{
    margin: 0;
    background-color: #000000;
    /* background-color: white; */
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
div#videos{
    display: none;
}
div#error{
    display: none;
}
.title{
    color:white;
}

div.item{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 70px;
}

.caption{
    display: block;
}

div.animation{
    position: relative;
    width: 100px;
    height: 100px;
    margin:auto;
    display: none;
}

img.avatar {
    object-fit: cover;
    border-radius:50%;
    width: 50px;
    height: 50px;
  }

.gradient-text {
    height: 1.5em;
    background-image: linear-gradient(45deg,#ff61d3 10%,#b318ff 40%,#b318ff 60%,#00f0ff 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;    
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: calc();
}


img{
    width: 100%;
}

h1{
    display: inline-block;
    font-family: "Archivo Black", sans-serif;
    position: relative;
    bottom: .2em;
    font-size: 1.9em;
    font-weight:normal;  
}

input[type=text]::placeholder{
    text-align: center;
    color: grey;
    font-family: 'Josefin Sans', sans-serif;
}

.btn{
    font-size: 1em;
    width: 10em;
    height: 2em;
    border-radius: .3em;
    margin: .5em;
}

button:hover{
    cursor: grab;
    background-color: skyblue;
}

.image{
    display: inline-block;
    position: relative;
    width: 4em;
}

.header{
    width: 100vw;
    padding: .5em;
}

.heading{
    text-align: center;
    max-height: 10em;
}

.main{
    width: 100vw;
    margin-top: 1.7em;
}

.btn-sm{
    width: auto;
}

.content{
 width: 99.9%;
 margin: 0;
 border-radius: .3em;
 overflow: auto;
 padding: .2em;
 box-sizing: border-box;
}

.content p:first-child{
    color: white;
    font-size: 1.5em;
    margin: .2em;
}

input[type=text]{
    display: inline-block;
    width: 50%;
    height: 2em;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: .25em;
    box-sizing: border-box;
    margin-bottom: .3em;
}

.footer{
   color: white;
   position: relative;
   bottom: 0%;
   left: 0%;
   width: 100%;
   text-align: center;
}

.theme em{
    color: white;
    font-size: 1.2em;
}

@media only screen and (max-width: 347px) {
    h1{
        width: min-content;
        text-align: justify;
    }
    img{
        position: relative;
        bottom: 1em;

    }
   
  }

  @media only screen and (max-width: 227px){
    img{
        display: none;
    }

    h1{
        text-align: center;
    }
  }


  @media only screen and (max-width: 751px){
      input[type=text]{
          width: 100%;
      }
      .main{
      margin-top: 0.5em;
    }
  }