body  {
    background-color: #212529;
}
.gradient-text {
    background-color: red;
    background-image: linear-gradient(45deg, #3E00FF, #0CECDD, #610094,#3EDBF0);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

h1 {
    color: aqua;
    font-family: "Archivo Black", sans-serif;
    font-weight: normal;
    font-size: 2em;
    margin-bottom: -0.25em;
}

p{
    color:white;
    font-size: 1.3em;
}

.div-spacing{
    padding-top: 50px;
}

.myclass{
    display: flex;
    align-items: center;
    justify-content: center;
}